---
import SectionContainer from "./SectionContainer.astro";
import Hero from "./index/Hero.astro";
import AuthHero from "./index/AuthHero.astro";
import SocialMedia from "./index/SocialMedia.astro";
import Navbar from "./Navbar.astro";
import { getI18N } from "@/i18n";
import Layout from "@/layouts/Layout.astro";
import Header from "./index/Header.astro";
import AuthForm from "./AuthForm.astro";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

import { supabase } from "../lib/supabaseClient";
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <main class="mx-6 mt-4 md:w-full md:max-w-[1000px]">
    <SectionContainer class="flex flex-col gap-y-6">
      <Hero />
    </SectionContainer>
    <div id="client-content" style="display:none">
      <!-- start user must be logged in to see this -->
      <SectionContainer class="flex flex-col gap-y-6">
        <AuthHero />
      </SectionContainer>
      <SectionContainer>
        <Header />
      </SectionContainer>
      <SectionContainer class="">
        <Navbar />
      </SectionContainer>
      <!--end user must be logged in to see this -->
    </div>
    <!-- start login or register form -->
    <div
      id="app-auth-form"
      style="display:none"
      class="flex min-h-[calc(100vh-var(--header-height))] items-center justify-center"
    >
      <SectionContainer class="flex flex-col">
        <AuthForm />
      </SectionContainer>
    </div>
    <!-- end login or register form -->
    <SectionContainer class="fixed bottom-0 flex flex-col gap-y-6">
      <SocialMedia />
    </SectionContainer>
  </main>
</Layout>

<script type="module" is:inline>
  const supabaseUrl = "https://qudlxlryegnainztkrtk.supabase.co";
  const supabaseAnonKey =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF1ZGx4bHJ5ZWduYWluenRrcnRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI2MzUwMTMsImV4cCI6MjA2ODIxMTAxM30.pAWMWGUCK48Lujssi3Ip4GUm11TZDmaNCINqX3q2m5o";
  import { createClient } from "https://cdn.jsdelivr.net/npm/@supabase/supabase-js/+esm";
  const supabase = createClient(supabaseUrl, supabaseAnonKey);
  const clientContent = document.getElementById("client-content");
  const form = document.getElementById("app-auth-form");

  async function checkAuthAndRole() {
    const {
      data: { session },
    } = await supabase.auth.getSession();
    if (session && session.user) {
      // Fetch profile
      const { data: profile, error } = await supabase
        .from("profiles")
        .select("role")
        .eq("id", session.user.id)
        .single();

      if (!error && profile && profile.role === "Client") {
        const { data: projects, error } = await supabase
          .from("projects")
          .select("*")
          .eq("author_id", session.user.id);

        clientContent.style.display = "";
        if (projects?.length > 0) {
          clientContent.innerHTML = `
            <div>You have ${projects.length} projects</div>
            ${projects.map((project) => `<div>${project.name}</div>`).join("")}
          `;
        } else {
          clientContent.innerHTML = "<div>No projects found</div>";
        }
        form.style.display = "none";
        return;
      }

      if (!error && profile && profile.role === "Admin") {
        const { data: projects, error } = await supabase.from("projects");

        clientContent.style.display = "";
        clientContent.innerHTML = `
          <div class="flex flex-col gap-y-6">
            <h1>Projects</h1>
            <ul>
              ${projects.map((project) => `<li>${project.name}</li>`).join("")}
            </ul>
          </div>
        `;
        form.style.display = "none";
        return;
      }
    }
    clientContent.style.display = "none";
    form.style.display = "";
  }

  checkAuthAndRole();
  supabase.auth.onAuthStateChange(() => {
    checkAuthAndRole();
  });
</script>
