---
import Acrobat from "../components/Acrobat.astro";
import { cardsData } from "../data/submittals.js";
import NoDataCard from "../components/NoDataCard.astro";
import { getI18N } from "@/i18n";

// const cardsData: any[] = [];
//Para cambiar idioma de textos
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---
<div id="accordion-collapse" data-accordion="collapse">

  {
    cardsData.length > 0 ? (
      cardsData.map((card) => (
        <Acrobat
          i=index
          id={card.id}
          url={card.url}
          href={card.href}
          title={card.title}
          isNew={card.isNew}
          isViewed={card.isViewed}
          subtitle={card.subtitle}
          imageSrc={card.imageSrc}
          icon={card.icon}
          imageAlt={card.imageAlt}
        />
      ))
    ) : (
      <NoDataCard
        message={i18n.SUBMITTALS.empty.message}
        subtitle={i18n.SUBMITTALS.empty.message2}
        imageSrc="/img/notion/white/my-notion-face-transparent_9.png"
      />
    )
  }
</div>
